<!-- Toolbar -->
<div class="toolbar" role="banner">
   <img
      width="40"
      alt="Angular Logo"
      src="../assets/images/share-location.png"
   />
   <span><b>Communere</b> share location test application</span>
   <div class="spacer"></div>
   <a
      aria-label="Share location github"
      target="_blank"
      rel="noopener"
      href="https://github.com/milad7290/share-location"
      title="Github"
   >
      <img
         id="github-logo"
         width="40"
         alt="Angular Logo"
         src="../assets/images/git-hub.png"
      />
   </a>
</div>

<div class="content" role="main">
   <button (click)="onOpenShareView()" class="newAddress">
      <span>+</span>Share new location
   </button>
   <app-map></app-map>
</div>

<app-share-location-modal
   *ngIf="openShareModal"
   (onModalClosed)="onCloseShareView()"
></app-share-location-modal>

<router-outlet></router-outlet>
