.map-container {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid #1976d2;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
}

#map {
  height: 100%;
}
